# Import Packages

In [1]:
import pandas as pd
import plotly.express as px

# Load Data

In [2]:
data  = pd.read_csv("Real-Time_Traffic_Incident_Reports.csv")
data = pd.DataFrame(data)

C:\Users\KasiolEr\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,1,2,3,6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Explore Data

In [4]:
data.info()

,Traffic Report ID,Published Date,Issue Reported,Location,Latitude,Longitude,Address,Status,Status Date
0,A1,06/13/2018 06:35:59 AM +0000,Crash Service,"(30.283797,-97.741906)",30.283797,-97.741906,W 21ST ST & GUADALUPE ST,ARCHIVED,06/13/2018 09:00:03 AM +0000
1,A2,06/13/2018 10:15:36 AM +0000,Traffic Hazard,"(30.339593,-97.700963)",30.339593,-97.700963,400-717 E ANDERSON LN EB,ARCHIVED,06/13/2018 11:20:03 AM +0000
2,A3,04/17/2020 09:25:03 PM +0000,Crash Urgent,"(30.329455,-97.638105)",30.329455,-97.638105,E US 290 HWY SVRD EB & EASTERN HEIGHTS BLVD,ARCHIVED,04/17/2020 09:55:03 PM +0000
3,A4,04/17/2020 09:40:52 PM +0000,Traffic Hazard,"(30.202806,-97.760701)",30.202806,-97.760701,5300-blk S Ih 35 Sb,ARCHIVED,04/17/2020 09:55:03 PM +0000
4,A5,04/17/2020 09:00:55 PM +0000,Crash Urgent,"(30.184265,-97.687339)",30.184265,-97.687339,4500-4720 S Us 183 Hwy Sb,ARCHIVED,04/17/2020 11:30:04 PM +0000
...,...,...,...,...,...,...,...,...,...
247155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Clean Data & Transform DataType

In [5]:
data_clean = data.dropna(how = "all") # Drop all null rows from table

In [8]:
# Thanks to STPETE_ISHII from kaggle 
data_clean['Date']=data_clean['Published Date'].apply(lambda x: (x[0:10])) # Extract Date from Published Date column .
data_clean['Time']=data_clean['Published Date'].apply(lambda x: (x[11:16]+x[19:22])) # Extract Time from Published Date column .

C:\Users\KasiolEr\AppData\Local\Temp/ipykernel_10408/554181525.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['Date']=data_clean['Published Date'].apply(lambda x: (x[0:10])) # Extract Date from Published Date column .
C:\Users\KasiolEr\AppData\Local\Temp/ipykernel_10408/554181525.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['Time']=data_clean['Published Date'].apply(lambda x: (x[11:16]+x[19:22])) # Extract Time from Published Date column .

In [9]:
data_clean['Date']= pd.to_datetime(x['Date']) # Convert Date to datetime type .

NameError: name 'x' is not defined

In [ ]:
# This code for further analysis .
data_clean['Day_Of_Week'] = x['Date'].dt.day_name() # Creat day of week column and Get the day name from Date .

In [ ]:
data_clean.info()

# Descriptive Analysis

In [ ]:
data_clean['Issue Reported'].value_counts() # Get the number of accident for each type .

# Visualization

In [ ]:
# First Viz
fig = px.scatter_mapbox(data_clean, lat= 'Latitude', lon = 'Longitude', color="Issue Reported",
center=dict(lat=30.2672, lon= -97.7431), mapbox_style="stamen-terrain", 
width=1020, height=720)

In [ ]:
fig.show()